@charset "utf-8";

body {
	height: auto;
	background: #ffffff;
	font-size: 12px;
	font-family: "Microsoft Yahei";
	font-weight: 500;
	min-width: 1280px;
}

#wrap {
	min-width: 100%;
	position: absolute;
	min-height: 100%;
	overflow: hidden;
}